*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: blueviolet;
}

h1{
    text-align: center;
}

.container{
    margin: 0 auto;
    padding: 1rem;
}

.logo{
    border: solid medium white;
    box-shadow: 3px 3px 3px gray;
}